@font-face{
	font-family: 'Aller-bold';
	src:url('../fonts/Aller_Bd.ttf');
}

*{
	font-family: 'Roboto', 'sans-serif'; 
}

.wrapper{
	margin-top: 20px; 
	padding: 10px 5px 0px 5px; 
}

.question_area {
	border: 1px solid #D3D3D3; 
	margin-top: 20px;
	position: relative;
	left: 300px; 
	/*background-color: #FFC300; */
	padding-top: 10px; 
}

.question_form{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px; 
}

.question_form textarea{
	min-height: 200px; 
	font-size: 16px;
}

.edit_category{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}

.option {
	/*width: 40%; */
}

.user_info {
	margin-top: 20px; 
	background-color:  #f5f5f5; 
	text-align: center;
	position: fixed;
	min-height: 500px; 
	top: 40px; 
	left: 15px; 
	border-radius: 5px;
	border: 1px solid #D3D3D3; 
	/*display: inline-block;*/
}

.user_info h4 {
	text-align: center;
}

.top-bar {
	background-color: #ff5c33; 

}

.top-bar li {
	color: #000000; 

}

.nav a {
	color: #ffffff; 
}

.nav li a:hover {
	background-color: #FFC300;
}

.brand-white{
	color: #ffffff;
	font-size: 30px; 
	font-weight: bold;
	font-family: 'Aller-bold'; 
}

.large-badge {
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	min-height: 30px;
	border-radius: 25px;
	background-color: #FFC300; 
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 10px; 
}

.user_info p {
	margin: 10px 0 0 0px; 
}

.category_info ul {
	list-style-type: none;
	text-align: left;
	padding: 0px; 
	margin-left: 15px; 
}

.category_info {
	
	margin-top: 50px; 
}

.q_submit_button {
	margin-top: 20px;
	width: 20%; 
	margin-right: 20px; 
}

.orange_heading {
	color: #ff5c33; 
	margin-bottom: 10px; 
}

.success_msg {
	background-color: #5cb85c;
	color: #ffffff;
}

.lock_answer_btn {
	background-color: #FFC300; 
	color: #000000;
	border: 1px solid #ff5c33; 
	height: 30px;
	font-size: 15px;
	border-radius: 3px; 
}

.lock_answer_btn:hover {
	background-color: #5cb85c; 
	color: #ffffff;
	border: 1px solid #FFC300; 
	height: 30px;
	font-size: 15px;
	border-radius: 3px; 
}

.fifty_fifty_btn {
	background-color: #5cb85c; 
	color: #ffffff;
	border: 1px solid #FFC300; 
	height: 30px;
	font-size: 15px;
	border-radius: 3px; 
	float: right;
}

.fifty_fifty_btn:hover {
	background-color: #FFC300; 
	color: #000000;
	border: 1px solid #ff5c33; 
	height: 30px;
	font-size: 15px;
	border-radius: 3px; 
}

#lifeline{
	display: inline-block;
	float: right;
	position: relative;
	right: 30px;
	bottom: 20px; 
}

